%br Sizes:
= form_tag('/add', method: :post, class: 'tform') do |f|
  = hidden_field :tshirt, :name, :value => tshirt.name
  = hidden_field :tshirt, :cost, :value => tshirt.cost
  .tselect= select(:tshirt, "size", tshirt.sizes, { include_blank: true })

  Select Quantity:
  .tselect= select(:tshirt, "qty", '')

  %br= button_tag 'Add to Basket', class: 'AddToBasket', disabled: true
