.row.about
  .small-12.columns.small-centered.feature
    %p
      %b INSPIRATION
      In dedication to the prettiest boys in rock,
      \#{link_to "Duran Duran", "http://www.duranduran.com/"}
      t-shirts live on from the early 80's. You remember the hits:

      \#{link_to "Ordinary World", "http://www.youtube.com/watch?v=dDLiVwpv89s"},
      \#{link_to "Girls on Film", "http://vimeo.com/18521738"},
      \#{link_to "Hungry Like the Wolf", "http://www.youtube.com/watch?v=oOg5VxrRTi0"},
      \#{link_to "Rio", "http://www.youtube.com/watch?v=e3W6yf6c-FA&feature=kp"},
      \#{link_to "Come Undone", "http://www.youtube.com/watch?v=ICnlyNUt_0o"}...
    %p
      %b THE GOODS
      All t-shirts were fabricated in the 80's, and have been neatly stocked away for 20 years. None of the shirts have been worn, and are in mint condition.
    %p
      %b WHERE DID THEY COME FROM?
      When my in-laws were studying at Cornell in the 70's, they would sell rock t-shirts outside of music venues on the weekends. After graduation, they started a mail-order t-shirt company called 'On Top', one of the first of its kind. Sadly, they didn't transition into e-commerce. But luckily for you, they have an impressive inventory of merchandise left over.
