- if basket.items.empty?
  Basket is empty!
- else
  %ul
    - basket.items.each do |item|
      %li #{item.quantity} #{item.id} @ #{item.unit_cost}

  = form_tag checkoutform_path do
    %article
      %label.amount
        %span Amount: #{basket.total}
    %script.stripe-button{"data-amount" => "#{basket.total * 100}", "data-name" => "Hungry Wolf T-Shirts", "data-description" => "Test: 4242 4242 4242 4242", "data-key" => Rails.configuration.stripe[:publishable_key], src: "https://checkout.stripe.com/checkout.js"}
  %button.btn#ClearBasket= 'empty basket'
