- if basket.items.empty?
  Basket is empty!
- else
  %ul
    - basket.items.each do |item|
      %li #{item.quantity} #{item.id} @ #{item.unit_cost}

  = render partial: 'statics/checkout'
  %button.btn#ClearBasket= 'empty basket'
